$resetCss:false;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~scss/main-abstracts";

.payment-options {
  text-align: center;
  padding-bottom: 50px;
}
